html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: gray;
}

#tt-image-editor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    #layers {
        order: 1;
        flex: 1 1 auto;
        align-self: auto;
        canvas#tool-layer {
            z-index: 12;
            position: absolute;
        }

        canvas#view-layer {
            z-index: 10;
            background-image:
                url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkYGCQYsAEz9CFGIeIQix+wfQgyDODXSEANzEFjc0z43QAAAAASUVORK5CYII=');
            background-color: white;
            position: absolute;
        }
    }

    #toolbar {
        order: 0;
        flex: 0 1 auto;
        justify-content: center;
        padding: 5;
        user-select: none;
        z-index: 100;
        background: black;
        display: flex;
        height: 30px;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);

        #color-selection-div {
            margin: 0 .25rem;
            border: 2px outset darkgrey;
            background: black;
            width: 2rem;
        }

        button.btn {
            margin: 0 .25rem;
            font-size: 1rem;
            font-weight: bold;
            &.active {
                background: gray;
                color: white;
                border: 2px inset darkgrey;
            }
        }

        button.sub-btn {
            font-size: .85rem;

            &.active {
                background: gray;
                color: white;
                border: 2px inset darkgrey;
            }
        }

        .tool-sub-btns {
            display: flex;
            margin: 0 .25rem;
        }

        #crop-sub-btns {
            display: none;
            #crop-btn-apply {
                color: green;
                font-weight: bold;
            }
        }

        #pencil-sub-btns {
            display: none;

            .sub-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                padding: 0;
            }

            span.pencil-size-icon {
                display: block;
                background: black;
                pointer-events: none;
            }

            button#pencil-btn-size-1 .pencil-size-icon {
                height: 1px;
                width: 1px;
            }

            button#pencil-btn-size-2 .pencil-size-icon {
                height: 2px;
                width: 2px;
            }

            button#pencil-btn-size-3 .pencil-size-icon {
                height: 4px;
                width: 4px;
            }

            button#pencil-btn-size-4 .pencil-size-icon {
                height: 6px;
                width: 6px;
            }

            button#pencil-btn-size-5 .pencil-size-icon {
                height: 8px;
                width: 8px;
            }
            button#pencil-btn-size-6 .pencil-size-icon {
                height: 10px;
                width: 10px;
            }
        }
    }
}
